/* General Reset */
body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Comparison Page Styles */
.comparison-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.comparison-header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    width: 100vw; /* Full viewport width */
    left: 50%;
    transform: translateX(-50%);
}

.comparison-bg-image {
    width: 100vw; /* Full viewport width */
    height: 250px;
    object-fit: cover;
    filter: blur(5px);
}

.comparison-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.comparison-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
}

.comparison-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.breadcrumb {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb span {
    color: black;
    margin-left: 5px;
}

.comparison-content {
    margin-top: 20px;
}

.comparison-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comparison-options .btn {
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.comparison-options .add-product {
    background-color: #FFC700;
}

.comparison-options .btn:hover {
    background-color: #FFC700;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
}

.comparison-header-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #F8F8F8;
    padding: 10px;
    font-weight: bold;
}

.comparison-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
